/** @type {import('tailwindcss').Config} */
module.exports = {
    content: [
      "./src/pages/**/*.{js,ts,jsx,tsx}",
      "./src/components/**/*.{js,ts,jsx,tsx}",
      "./src/styles/**/*.css",
    ],
    theme: {
      extend: {
        colors: {
          'primary': '#0c2350', // Your brand blue
        },
      },
    },
    corePlugins: {
      gradientColorStops: true,
    },
    plugins: [],
  }